.registerCard {
    display: flex;
    height: 100vh;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

.registerElements {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}

.registerButtons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}